<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>payment-form</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="paymentForm" (ngSubmit)="submitForm()">
      <ion-input
        label="Account to Debit"
        mode="md"
        label-placement="stacked"
        fill="outline"
        type="text"
        placeholder="Enter your account number"
        formControlName="payer"></ion-input>

      <ion-input
        label="Merchant Account"
        mode="md"
        label-placement="stacked"
        fill="outline"
        type="text"
        placeholder="Enter merchant account number"
        formControlName="payee"></ion-input>

      <ion-input
        label="Amount"
        mode="md"
        label-placement="stacked"
        fill="outline"
        placeholder="Enter your amount"
        type="number" formControlName="amount"></ion-input>

      <ion-select
        label="Currency"
        label-placement="stacked"
        fill="outline"
        formControlName="currency"
        interface="popover"
        placeholder="Select currency">
        <ion-select-option value="UGX">Ugandan Shilling</ion-select-option>
        <ion-select-option value="USD">US Dollar</ion-select-option>
        <ion-select-option value="GBP">British Pound</ion-select-option>
      </ion-select>

      <ion-input
        label="Reference"
        mode="md"
        label-placement="stacked"
        fill="outline"
        type="text"
        placeholder="Enter your reference"
        formControlName="payerReference"></ion-input>

    <ion-button expand="block" color="primary" type="submit" [disabled]="submitting || paymentForm.invalid">
      {{ submitting ? 'Submitting...' : 'Submit Payment' }}
    </ion-button>

    <div class="message" *ngIf="resultMessage">
      {{ resultMessage }}
    </div>
  </form>
</ion-content>
